* {
    box-sizing: border-box;
}

/*стилі для третьої секції*/
.section3 {
    position: relative;
    margin: 0 auto;
    width: 1920px;
    min-height: 1060px;
    background-color: #F4F9FD;
    background-size: 100vw;
}

.section_3_service {
    margin-left: 898px;
    margin-top: 120.27px;
    color: #050931;
    font-family: Rubik sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 100%;
}

.section_3_img_0 {
    margin-left: 889px;
    margin-top: -20px;
}

.section_3_title {
    margin-left: 742px;
    color: #050931;
    font-family: Outfit sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 120%;
}

.section_3_text_1 {
    margin-left: 627px;
    margin-bottom: 78.27px;
    color: #647685;
    font-family: Rubik sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 156%;
    width: 609px;
    text-align: center;
}

.col-22 {
    flex-basis: 22%;
    min-height: 441px;
}

.section_3_block_1, .section_3_block_2, .section_3_block_3 {
    position: relative;
    border-radius: 12px;
    border: 1px solid #E3E3E3;
    background: #FFF;
    margin-right: 32px;
}

.section_3_shadow_1:hover {
    box-shadow: 15px 30px 17px #4e555b;
    transition-duration: 3000ms;
}

.section_3_circle_1, .section_3_circle_2, .section_3_circle_3 {
    width: 128px;
    height: 128px;
    border-radius: 50%
}

.section_3_circle_1 {
    background-color: rgba(255, 202, 69, 0.20);

}

.section_3_circle_2 {
    background-color: rgba(72, 183, 116, 0.20);
}

.section_3_circle_3 {
    background-color: rgba(255, 131, 69, 0.20);
}

.section_3_circle {
    position: absolute;
    left: 32px;
    top: 32px;
}

.section_3_img_1 {
    position: absolute;
    left: 40px;
    top: 40px;
}

.section_3_zag_block {
    position: absolute;
    color: #1B1E1C;
    font-family: Outfit sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 100%;
    left: 32px;
    top: 200px;
}

.section_3_text_block {
    position: absolute;
    color: #767877;
    font-family: Rubik sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 156%;
    width: 356px;
    height: 85px;
    flex-shrink: 0;
    left: 32px;
    top: 252px;
}

.section_3_img_2 {
    position: absolute;
    left: 32px;
    top: 377px;
}

.section_3_knopka {
    width: 171px;
    height: 66px;
    color: #FFF;
    font-family: Rubik, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 166%;
    border-radius: 2px;
    position: absolute;
    bottom: 120.73px;

}

.section_3_circle_zag {
    position: absolute;
    top: 0;
    left: -82px;
    width: 256px;
    height: 256px;
    background: #BADAF4;
    border-radius: 50%
}

